{% extends "base.html" %}{% load static %}
{% block title %}{{ object.title}}{% endblock title %}



{% block extrahead %}
<!-- Custom styles for this template -->
  <link href="{% static 'css/blog-post.css' %} " rel="stylesheet">

{% endblock extrahead %}
  
{% block content %}


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ object.title }}</h1>

       
        <hr>

        <!-- Date/Time -->
        <p>{{ object.published }}</p>

        <hr>
        {% if object.video %}
        <iframe width="854" height="480"
src="{{object.img}}">
</iframe>
        {% else %}
        <img class="img-fluid rounded" src="{{object.img}}" alt="">
        {% endif %}
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{object.img}}" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{object.content|safe}}</p>
        <hr>
        <a href="{% url 'news:news' %}">
        <button class="btn btn-danger" >Go back</button>
        </a>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Komento:</h5>
          <div class="card-body">
            <form action="{% url 'news:comment' object.slug %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
              {{form.comment}}
               
              </div>
              {% if user.is_authenticated %}
              <button type="submit" class="btn btn-primary">Submit</button>
              {% else %}
              <a class= "btn btn-primary" href="{% url 'account_signup'%}">Sign Up</a>
              <a class= "btn btn-primary" href="{% url 'account_login'%}">Login</a>
              {% endif %}
              

            </form>
          </div>
        </div>
        <hr>
        

{% for comment in artikull.comment_set.all %}
        {% if comment.level == 1 %}
        
        
        
      <div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-2">
        	        
        	        <p class="text-secondary text-center">{{comment.postdate|timesince}}</p>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
        	            <strong>{{comment.user}}</strong>
        	       </p>
        	       <div class="clearfix"></div>
        	        <p>{{comment.con}}</p>
                  <p>
                  <form action="{% url 'news:reply' comment.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    {{reply.reply}}
                    
                    </div>
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">Reply</button>
                    {% else %}
                    <a class= "btn btn-primary" href="{% url 'account_signup'%}">Sign Up</a>
                    <a class= "btn btn-primary" href="{% url 'account_login'%}">Login</a>
                    {% endif %}
                    

                  </form>
        	            
        	        </p>
        	    </div>
	        </div>
	        	<div class="card card-inner">
              {% if comment.children  %}
              {% for child in comment.children %}
              
              
              
              
            	    <div class="card-body">
            	        <div class="row">
                    	    <div class="col-md-2">
                    	        <p class="text-secondary text-center">{{ child.postdate|timesince}}</p>
                    	    </div>
                    	    <div class="col-md-10">
                    	        <p><strong>{{child.user}}</strong></p>
                    	        <p>{{ child.con }}</p>
                    	        <p>
                    	            <form action="{% url 'news:reply' child.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    {{reply.reply}}
                    
                    </div>
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">Reply</button>
                    {% else %}
                    <a class= "btn btn-primary" href="{% url 'account_signup'%}">Sign Up</a>
                    <a class= "btn btn-primary" href="{% url 'account_login'%}">Login</a>
                    {% endif %}
                    

                  </form>
                    	       </p>
                    	    </div>
            	        </div>
            	    </div>
                  <div class="card card-inner">
              {% if child.children  %}
              {% for l3 in child.children %}
              
              
              
              
            	    <div class="card-body">
            	        <div class="row">
                    	    <div class="col-md-2">
                    	        <p class="text-secondary text-center">{{ l3.postdate|timesince}}</p>
                    	    </div>
                    	    <div class="col-md-10">
                    	        <p><strong>{{l3.user}}</strong></p>
                    	        <p>{{ l3.con }}</p>
                    	        <p>
                    	            <form action="{% url 'news:reply' l3.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    {{reply.reply}}
                    
                    </div>
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">Reply</button>
                    {% else %}
                    <a class= "btn btn-primary" href="{% url 'account_signup'%}">Sign Up</a>
                    <a class= "btn btn-primary" href="{% url 'account_login'%}">Login</a>
                    {% endif %}
                    

                  </form>
                    	       </p>
                    	    </div>
            	        
            	    
                  {% endfor %}
              {% endif %}
              </div></div>
                  {% endfor %}
              {% endif %}
	            </div>
	    </div>
	</div>
  {% endif %}
    {% endfor %}
{% endblock content %}