{% extends "base.html" %}

{% block content %}
<div class="container">
    
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Link</th>
        <th>Short Link</th>
        <th>Visits</th>

      </tr>
    </thead>
    <tbody>
      
      
      
      <tr>
        <td>{{ link.link }}</td>
        <td> <a class="btn btn-primary" href="{% url 'shortu:follow' link.shorturl %}">
        {{ link.shorturl}}
        </a>
        </td>
        <td>{{ link.vi}}</td>
      </tr>
      
      </tbody>
    </table>
    </div>


{% endblock content %}

